*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}



.playField {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 360px;
    height: 360px;
}

.playField div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
}

.app .header {
    text-align: center;
    margin-bottom: 30px;
}
.app .bounceText {
    animation: bounce 1s;   
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }

.stats {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-bottom: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border: 1px solid white;
    text-align: center;
    width: 120px;
}

.playField div:hover {
    cursor: pointer;
    background-color: green;
}

.app button {
    margin: 30px 0;
    padding: 10px 20px;
    width: 100%;
    border-radius: 5px;
    border: none;
}

.app button:hover {
    cursor: pointer;
    background-color: green;
}

.app label {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.playField .tile0 {
    border-left: none;
    border-top: none;
}

.playField .tile1 {
    border-top: none;
}

.playField .tile2 {
    border-right: none;
    border-top: none;
}

.playField .tile3 {
    border-left: none;
}

.playField .tile5 {
    border-right: none;
}
.playField .tile6 {
    border-left: none;
    border-bottom: none;
}

.playField .tile7 {
    border-bottom: none;

}

.playField .tile8 {
    border-right: none;
    border-bottom: none;
}
